@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";


:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.container{
  max-width: 1120px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}